.button {
    background-color: #282c34;
    color: white;
    padding: 5px;
    border: 1px solid grey;
    font-weight: bold;
    border-radius: 2px;
}

.button-secondery{
    background: lightslategray;
}

.button:hover {
    background: gray;
    cursor: pointer;
}

.btn-disabled {
    background: lightgray;
    pointer-events: none;
    color: grey;

}